body{
	background-color:white;
	background-image:url("../bkg.jpg");
}
#escudo{
	  position: absolute;
    left: 40%;
    top: 0px;
    z-index: -1;
	
}
#pid{
	color:white;
}
#howtoplay{
	float:right;
	
}
#numero-aleatorio1{
	color:white;
	display:none;
}
#numero-aleatorio2{
	color:white;
	display:none;
}
#numero-aleatorio3{
	color:white;
	display:none;
}
#numero-aleatorio4{
	color:white;
	display:none;
}
#numero-aleatorio5{
	color:white;
	display:none;
}
